/* RESET */
*{
	margin: 0;
	padding: 0;
}

/* Nav */

.superior_bar{
	height:10%;
}

ul li{
	display: inline-block;
	vertical-align: middle;
}

ul li a{
	vertical-align: middle;
}

.right{
	float: right ;
}
/* IMAGE HEADER */
#image_header{
	margin: 0 auto;
}

